.contenedor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 600px;
    border: 2px solid black;
}

.columna {
    display: flex;
    flex-direction: column;
}

.caja {
    width: 100px;
    height: 100px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rojo {
    background-color: red;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}